@import url("main.css");

body {
    font-family: 'Georgia', serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота экрана */
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px; /* Ширина карточки */
    border: 1px solid #d1b9a1; /* Элемент роскоши */
}

.card h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #2c3e50;
}

.card img {
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid #d1b9a1; /* Элемент роскоши */
}

.card p {
    margin: 5px 0;
    font-size: 1em;
    color: #2c3e50;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #8c7b75; /* Цвет кнопки */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #705f5c; /* Цвет кнопки при наведении */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.cats ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cats li {
    flex: 1 1 calc(20% - 20px);
    background-color: #ffffff;
    border: 1px solid #d1b9a1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.cats li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.cats li a {
    text-decoration: none;
    color: #2c3e50;
    display: block;
    padding: 10px;
}

.cats li h2 {
    font-size: 1.5em;
    margin: 10px 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #2c3e50;
}

.cats li img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #d1b9a1; /* Элемент роскоши */
}

.cats li p {
    margin: 10px 0;
    font-size: 1em;
    padding: 0 10px;
    text-align: center;
    flex: 1;
    color: #2c3e50;
}
