
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Cat List</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__wrapper">
                <h1>Список котов</h1>
                <form method="get" action="/">
                    <input type="text" name="query" placeholder="Поиск..." value="{{ query }}">
                    <select name="sort_by">
                        <option value="relevance" {% if sort_by == 'relevance' %}selected{% endif %}>Relevance</option>
                        <option value="breed" {% if sort_by == 'breed' %}selected{% endif %}>Breed</option>
                        <option value="age" {% if sort_by == 'age' %}selected{% endif %}>Age</option>
                    </select>
                    <button type="submit">Поиск</button>
                </form>
            </div>
        </div>
    </header>
    
    <main class="page">
        <section class="cats">
            <div class="container">
                <div class="cats__wrapper">
                    <ul>
                        {% for cat in cats.items %}
                        <li>
                            <a href="{{ url_for('cat_detail', cat_id=cat.id) }}">
                                <h2>{{ cat.name }}</h2>
                                <img src="{{ cat.image }}" alt="{{ cat.name }}" width="100">
                            </a>
                            <p>Breed: {{ cat.breed }}</p>
                            <p>Age: {{ cat.age_in_months }} months</p>
                            <p>Description: {{ cat.description }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    <div>
                        {% if cats.has_prev %}
                        <a href="{{ url_for('index', page=cats.prev_num, query=query, sort_by=sort_by) }}">Назад</a>
                        {% endif %}
                        <span>Страница {{ cats.page }} из {{ cats.pages }}</span>
                        {% if cats.has_next %}
                        <a href="{{ url_for('index', page=cats.next_num, query=query, sort_by=sort_by) }}">Вперед</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>


</body>
</html>
